---

//EL render es para renderizar el contenido de la colección.
import { getCollection, render } from "astro:content"
import Layout from "../../layouts/Layout.astro"


export async function getStaticPaths (){
    //Obtener libros de la coleccion.
    const books = await getCollection('books')  

    return books.map((book)=>({
        params: {id: book.slug},
        props: {book}
    }))
} 

const {book} = Astro.props
const {data, slug} = book
const {title, author, img, readtime, description, buy} = data

//Para renderizar el contenido de la colección de libros que es un md.
const {Content} = await render(book)



---

<Layout title={`${title} Dev-book`}>
    <section class="flex gap-10 ">
        <aside class="flex flex-col items-center gap-4">
            <a href="/" class="hover:underline transition hover:scale-110 opacity-70 text-sm w-[100px]"> ⬅️  volver atrás</a>
            <img transition:name={`img-${slug}`} class="rounded w-72 " src={`/${img}`} alt={title}>
            <!-- enlace para comprar -->
        </aside>
        <main class="max-w-3xl">
            <h1 transition:name={`title-${slug}`} class="text-4xl font-bold mb-4  ">{title}</h1>
            <div class="prose prose-invert " >
                <Content />
            </div>
            
        </main>
    
    </section>
</Layout>